name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - run: go vet ./...
      - uses: dominikh/staticcheck-action@v1
  test:
    uses: ./.github/workflows/test.yaml
