name: Test

on:
  schedule:
    - cron: "0 0 * * 1"

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: projects/1050537848145/locations/global/workloadIdentityPools/pool-github-actions/providers/provider-github-actions
          service_account: github-actions@spream.iam.gserviceaccount.com
      - run: go test -v ./...
